
.panel-heading {
	text-align: center;

}

.jumbotron {
	/*background-image: url("images/triangular_@2X.png");*/
	background-color: black;
	color: #BAC0CB;
}


body {
	height: 100%;
	background-color: black;
}


#footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: black;
}


.container {

	padding: 10%;
	padding-top: 5%;

}




button {
	display: inline-block;
	margin: 4%;
}

 

#button-0 {
	 background-image: url("images/slot-machine.png");
	 
	 height: 220px;
	 width: 220px;
	 background-size: cover;

}

#button-1 {
	 background-image: url("images/gemstone (2).png");
	 height: 220px;
	 width: 220px;
	 background-size: cover;
}

#button-2 {
	 background-image: url("images/precious-stone.png");
	 height: 220px;
	 width: 220px;
	 background-size: cover;

}

#button-3 {
	 background-image: url("images/precious-stone (1).png");
	 height: 220px;
	 width: 220px;
	 background-size: cover;
}



